<html>
  <head> 
    <title> Mostrar Dados </title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
  </head>
  <body>
    <h2> Dados dos cadastrados </h2> 
    <br>
    <form action= "/buscarnome" method="POST">
      <input type="text" name="nomebusca" placeholder="Digite um nome"/>
      <input type="submit" value="Buscar pelo nome"/>
    </form>  
    <br/>
    <table border="1" align="center">
      <tr>
        <td> <b> ID </b> </td>
        <td> <b> Nome </b> </td>
        <td> <b> Email </b> </td>
        <td> <b> Editar </b> </td>
        <td> <b> Deletar </b> </td>
        <% for(var i=0; i<resultado.length; i++) { %> 
        <tr>
          
          <td> <%= resultado[i].id %> </td>
          <td> <%= resultado[i].nome %> </td>
          <td> <%= resultado[i].email %> </td>
          <td> <a href="/buscaeditar/<%= resultado[i].id %>"> Editar </a> </td>
          <td> <a href="/deletar/<%= resultado[i].id %>">  Deletar </a> </td>
        </tr> 
      <% } %>
      </tr>
    </table>
  </body>
</html>
